*.class
*.merge-left*
*.merge-right*
*.mine
*.prej
*.working
.svn
_svn
svn-commit*.tmp
master

# Python
*.pyc
*.pyo

# Aptana
.project
.pydevproject

# Django
*.db
local_settings.py
local_site.py
/static/collected/*
