{% extends "dashboards/base.html" %}

{% block main %}

{% if object %}
    <h1>{{ object.label }}</h1>
   
    <form method="get" action= class="uniForm">
      {{ order_form|as_uni_form }}
      <p><input type="submit" value="並べ替える"></p>
    </form>    

    <ul>
        <p>投稿者：{{ object.author }}</p>
        <p>公開状況：{{ object.pub_state }}</p>
        <p>公開日時：{{ object.created_at }}</p>
        <p>紹介文：{{ object.description }}</p>
        
        {% for material in materials.all %}
          <form method="post" class="uniForm">
          <p>
              {{ material.label }} : 
              <input type="checkbox" name={{ "%(material.id)" }} value="">
              {{ material.thumnail }}
              
          </p>
        {% endfor %}
          <p><input type="submit" value="削除する"></p>
          </form>
    </ul>
{% else %}
<h1>nothing</h1>
{% endif %}

{% endblock %}
