{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jqueryui/1.8.14/themes/base/jquery.ui.all.css" id="theme">
<link rel="stylesheet" href="{{ MEDIA_URL }}css/uploader/style.css" type="text/css">
<link media="all" rel="stylesheet" href="{{ MEDIA_URL }}css/uploader/jquery.fileupload-ui.css" type="text/css" />
<script src="{{ MEDIA_URL }}javascript/uploader/jquery.tmpl.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}javascript/uploader/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}javascript/uploader/jquery.fileupload.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}javascript/uploader/jquery.fileupload-ui.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}javascript/uploader/uploader.js" type="text/javascript"></script>
{% endblock %}

{% block title %}素材投稿{% endblock %}

{% block content %}
<div id="material-uploader">
    <form method="post" action="" enctype="multipart/form-data">
        <div class="fileupload-buttonbar">
            {% csrf_token %}
            <label class="fileinput-button">
                <span>Add files...</span>
                {{ form.file }}
            </label>
            <button type="submit" class="start">Start upload</button>
            <button type="reset" class="cancel">Cancel upload</button>
            <button type="button" class="delete">Delete files</button>
        </div>
    </form>
    <div class="fileupload-content">
        <table class="files"></table>
        <div class="fileupload-progressbar"></div>
    </div>
</div>

</div>
{% endblock %}
