{% extends "twocolumn.html" %}
{% load comments %}
{% load preview %}
{% block head %}
{{ block.super }}
{% render_universaltag_head %}
<script type="text/javascript">
  $(function(){
      $('.delete').click(function(){
        if(window.confirm("削除します。よろしいですか？")){
          $(this).find('form').submit();
          return false;
        }
      });
  });
</script>
<link media="all" rel="stylesheet" href="/css/material_detail.css" type="text/css" />
{% render_material_preview_head for object %}
{% endblock %}
{% block title %}{{ object.label }}{% endblock %}
{% block breadcrumbs %}Kommonz > Material > User:{{ object.author.username }} > {{ object.label }}{% endblock %}

{% block sidebar %}
<a href="{% reverse 'materials_material_download' object.pk %}" class="confirm-button blue-button download-button">ダウンロード</a>
<section class="material-info">
  <h2>{% render_mtimg for object %}{{ object.label }}</h2>
  <dl class="material-information">
    <dt>投稿者</dt>
    <dd class="author">
    <img class="avatar middle" src="/{{ object.author.profile.avatar.middle }}">
    <span class="username"><a href="{{ object.author.profile.get_absolute_url }}">{{ object.author.username }}</a>さん</span>
    </dd>
    <dt>カテゴリ</dt>
    <dd>{{ object.category }}</dd>
    <dt>タグ</dt>
    <dd>
        {% render_universaltag_tags of object %}
    </dd>
    <dt>ライセンス</dt>
    <dd>
    {{ object.license }}
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>
    </dd>
    <dt>レーティング</dt>
    <dd class="material-">
    <ul>
      {% for kero in object.keros.all %}
      <li class="kero-icon">{{ kero }}</li>
      {% empty %}
      <li class="kero-icon">なし</li>
      {% endfor %}
    </ul>
    </dd>
    <dt>ダウンロード回数</dt>
    <dd>{{ object.download }}</dd>
  </dl>
</section>

{% if user.is_authenticated %}
<section class="material-action">
  <menu>
    {% if user.pk == object.author.pk %}
    <li class="edit-material"><a href="{% reverse 'materials_material_update' object.pk %}">編集</a></li>
    <li class="delete-material">
      <a href="{% reverse 'materials_material_delete' object.pk %}">削除</a>
      <form style="display : none;" action="{% reverse 'materials_material_delete' object.pk %}" method='POST'>{% csrf_token %}
        <input type="submit">
      </form>
    </li>
    {% endif %}
    <li class="add-mylist">マイリストに追加</li>
    <li class="messageto"><a href="{% reverse 'messages_message_create' %}?message_type=material_message&pk={{ object.pk }}">作者にメッセージを送る</a></li>
    <li class="report"><a href="{% reverse 'reports_report_create' %}?pk={{ object.pk }}">通報する</a></li>
  </menu>
</section>
{% endif %}
{% endblock %}

{% block main %}
<section id="detail-main">
  <article>
    <h1>{% render_mtimg for object %}{{ object.label }}</h1>
    <img src="{{ MEDIA_URL }}{{ object.thumbnail.huge }}">
    <section class="material-detail">
      {{ object.description }}
    </section>
    {% render_material_preview for object %}
  </article>
  <ul class="material-subinformation">
    <li> {{ object.created_at|date:"Y/m/d H:i:s" }}</li>
    <li>|</li>
    <li>{{ object.size|sizify }}</li>
    <li>|</li>
    <li>{{ object.mimetype }}</li>
  </ul>
  <section class="material-comment">
    <h1>この素材へのコメント</h1>    
    {% get_comment_list for object as comment_list %}
    {% for comment in comment_list %}
      {% if not comment.is_removed %}
      <article>
        <p>
          <img class="comment-avatar" src="/{{ comment.user.profile.avatar.middle }}">
          <a href="{{ comment.user.profile.get_absolute_url }}">{{ comment.user.username }}</a>
        </p>
        <p>{{ comment.comment }}</p>
        <p>{{ comment.submit_date }}</p>
        {% if comment.user = request.user %}
        <p><a href="{% reverse 'django.contrib.comments.views.moderation.delete' comment.id %}">削除</a></p>
        {% endif %}
      </article>
      {% endif %}
    {% endfor %}
    <h1>コメントを書く</h1>
    <div class="comment-form">
      {% get_comment_form for object as comment_form %}
      <form action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        {% if comment_form.comments.errors %}
          {{ comment_form.comments.html_error_list }}
        {% endif %}
        {{ comment_form }}
        <input type="hidden" name="next" value="{{ object.get_absolute_url }}">
        <input type="submit" name="submit" value="Post">
      </form>
    </div>
  </section>
</section>
{% endblock %}
