{% extends "rawbase.html" %}
{% load upload_tags %}
{% block head %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/jqueryui/1.8.14/themes/base/jquery.ui.all.css" id="theme">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/uploader/style.css" type="text/css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/uploader/uploader.css" type="text/css">
  <link media="all" rel="stylesheet" href="{{ MEDIA_URL }}css/uploader/jquery.fileupload-ui.css" type="text/css" />
  <script src="{{ MEDIA_URL }}javascript/jquery.tmpl.min.js" type="text/javascript"></script>
  <script src="{{ MEDIA_URL }}javascript/uploader/jquery.iframe-transport.js" type="text/javascript"></script>
  <script src="{{ MEDIA_URL }}javascript/uploader/jquery.fileupload.js" type="text/javascript"></script>
  <script src="{{ MEDIA_URL }}javascript/uploader/jquery.fileupload-ui.js" type="text/javascript"></script>
  <script src="{{ MEDIA_URL }}javascript/uploader/uploader.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="material-uploader">
  <form method="post" action="" enctype="multipart/form-data">
    <div class="fileupload-buttonbar">
      {% csrf_token %}
      <label class="fileinput-button">
        <span>ファイルを追加</span>
        {{ form.file }}
      </label>
    </div>
  </form>
  <div class="fileupload-content">
    <table class="files"></table>
    <div class="fileupload-progressbar"></div>
    <div class="material-info-forms" validate-url="{% reverse "materials_material_validate" %}" form-url="{% reverse "materials_material_create" %}"></div>
  </div>
</div>
{% upload_js %}
{% endblock %}
