{% extends "twocolumn.html" %}
{% load codemirror %}
{% block head %}
  {{ block.super }}
  {% render_codemirror_head %}
{% endblock %}
{% block title %}{{ object.label }}{% endblock %}
{% block breadcrumbs %}Kommonz > Material > User:{{ object.author.username }} > {{ object.label }}{% endblock %}

{% block sidebar %}
{% endblock %}

{% block main %}
<section id="detail_main">
    <h1>{{ object.label }}</h1>
    <h2>{{ object.author.username }}</h2>
    <p>カテゴリ：{{ object.category }}</p>
    <p>閲覧回数：{{ object.pv }}　ダウンロード数：{{ object.download }}</p>
    <p>作成日時：{{ object.created_at }}</p>
    <p>更新日時：{{ object.updated_at }}</p>
    <p>{{ object.description }}</p>
    <div class="display">
        <img src="{{ MEDIA_URL }}{{ object.thumbnail }}">
        </div>
    <p>ライセンス：{{ object.license }}</p>
    <p>クリエイティブ・コモンズ：{{ object.creativecommons }}</p>
    <p>レーティング：
        {% if object.keros %}
            {% for kero in object.keros.all %}
                {{ kero }}
            {% endfor %}
        {% endif %}
    </p>
    <p>MIMETYPE：{{ object.mimetype }}</p>
    {% if object.body %}
      {% render_codemirror object %}
    {% endif %}
    <p><a href="{% reverse 'messages_message_create' %}?message_type=material_message&pk={{ object.pk }}">作者にメッセージを送る</a></p>
    <p><a href="{% reverse 'reports_report_create' %}?pk={{ object.pk }}">この素材を通報する</a></p>

</section>
{% endblock %}
