/* line 1, ../scss/common.scss */
body, textarea {
  font-family: Verdana, Arial, "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}

/* line 2, ../scss/common.scss */
input, select {
  font-family: Verdana, Arial, "ＭＳ Ｐゴシック", sans-serif;
}

/* line 4, ../scss/common.scss */
* {
  text-height: 150%;
}

/* line 8, ../scss/common.scss */
body {
  color: #333333;
  font-size: 13px;
  background: #fefefe;
}

/* line 14, ../scss/common.scss */
a {
  color: #4183c4;
  text-decoration: none;
}

/* line 19, ../scss/common.scss */
a:hover {
  color: #3388ff;
  text-decoration: underline;
}

/* line 24, ../scss/common.scss */
a:visited {
  text-decoration: dotted;
}

/* line 28, ../scss/common.scss */
h1 {
  font-size: 24px;
  text-shadow: 0 1px 0 #fff;
  -moz-text-shadow: 0 1px 0 #fff;
  -webkit-text-shadow: 0 1px 0 #fff;
  margin: 15px auto 25px;
}

/* line 36, ../scss/common.scss */
h2 {
  font-size: 16px;
  margin: 5px auto;
  margin-left: 5px;
}

/* line 48, ../scss/common.scss */
p {
  text-height: 150%;
  margin: 5px 15px 10px;
}

/* line 54, ../scss/common.scss */
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* line 61, ../scss/common.scss */
li {
  list-style-type: none;
}

/* line 65, ../scss/common.scss */
.avatar, .small, .middle, .large, .huge {
  margin: 2px 4px 0px;
  display: inline-block;
}

/* line 70, ../scss/common.scss */
.small {
  width: 24px;
  height: 24px;
}

/* line 76, ../scss/common.scss */
.middle {
  width: 48px;
  height: 48px;
}

/* line 82, ../scss/common.scss */
.large {
  width: 96px;
  height: 96px;
}

/* line 88, ../scss/common.scss */
.huge {
  width: 288px;
  height: 288px;
}

/* line 94, ../scss/common.scss */
.confirm-button, .blue-button {
  color: #efefef;
  font-size: large;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 -2px 2px #333333;
  padding: auto;
  border: solid 1px #999;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: inline-block;
  cursor: pointer;
}

/* line 109, ../scss/common.scss */
.confirm-button:hover, .blue-button:hover {
  text-decoration: none;
}

/* line 113, ../scss/common.scss */
.blue-button {
  background: #499bea;
  background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #207ce5));
  background: -webkit-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -o-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -ms-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: linear-gradient(top, #499bea 0%, #207ce5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 );
}

/* line 125, ../scss/common.scss */
.blue-button:hover {
  color: #dedede;
}

/* line 129, ../scss/common.scss */
.blue-button:active {
  color: #ccc;
  background: #4f85bb;
  background: -moz-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4f85bb), color-stop(100%, #4f85bb));
  background: -webkit-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
  background: -o-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
  background: -ms-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
  background: linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 );
}

/* line 141, ../scss/common.scss */
.green-button {
  background: #cdeb8e;
  background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdeb8e), color-stop(100%, #a5c956));
  background: -webkit-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: -o-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: -ms-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
}

/* line 153, ../scss/common.scss */
.lightbox {
  background: #fefefe;
  border: solid 2px #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 3px 3px 2px #333;
  -webkit-box-shadow: 3px 3px 2px #333;
  width: 80%;
  height: 80%;
  position: relative;
}
/* line 164, ../scss/common.scss */
.lightbox iframe {
  width: 100%;
  height: 100%;
}
/* line 168, ../scss/common.scss */
.lightbox div.close {
  background: red;
  top: 12px;
  right: 15px;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  z-index: 9999;
  cursor: pointer;
}
