@charset "utf-8";

/* -- content -- */
#content-header {
  margin: 0px;
}
#content-header #logo {
  width: 253px;
  height: 81px;
  margin: 50px auto 20px;
}

#content-main {
}

/* search-form */

#search {
  margin: 0 auto;
  width: 782px;
  height: 50px;
  display: block;
  border-collapse: collapse;
}

div#search-category {
  background: #eeeeee;
  margin: 0;
  padding: 0;
  border: solid #cecece 1px;
  float: left;
  width: 140px;
  height: 50px;
  display: inline-block;
}

#search-query-wrapper {
  margin: 0;
  padding: 0;
  border: solid #cecece 1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  width: 550px;
  height: 50px;
  display: inline-block;
}

#search-query-wrapper:focus {
  border: solid rgb(169, 219, 128) 1px;
}

#search-query {
  font-size: large;
  margin: 13px 10px 13px 0px;
  padding: 0;
  border-width: 0px;
  float: left;
  width: 501px;
  height: 24px;
  display: inline-block;
}

.search-icon {
  background: #fff url(image/magnifier.png) 0px 0px no-repeat;
  margin: 13px 5px 13px 10px;
  padding: 0;
  float: left;
  width: 24px;
  height: 24px;
  display: inline-block;
}

#search-button {
  color: #eee;
  font-size: large;
  font-weight: bold;
  border-width: 1px;
  background: rgb(169,219,128);
  background: -moz-linear-gradient(top,  rgba(169,219,128,1) 0%, rgba(150,197,111,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,219,128,1)), color-stop(100%,rgba(150,197,111,1)));
  background: -webkit-linear-gradient(top,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);
  background: -o-linear-gradient(top,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);
  background: -ms-linear-gradient(top,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);
  background: linear-gradient(top,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 );
  margin: 0;
  padding: 0px;
  float: left;
  width: 88px;
  height: 50px;
  display: inline-block;
}

/* -- end of content -- */


/* -- page footer -- */
#page_footer {}
/* -- end of page footer -- */


#index-title {
    text-align: center;
}
#search form {
    text-align: center;
}

#footer-menus {
    position:absolute;
    bottom:2px;
    width:100%;
    background: #DDDDDD;
    height:200px;
}

.footer-menu {
    float: left;
    width: 33%;
}
