/* Color Settings */
/* Size Settings */
.blue-button {
  color: #efefef;
  font-size: large;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 -0.5px 1px #333333;
  padding: auto;
  border: solid 1px #999;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  background: #499bea;
  background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #207ce5));
  background: -webkit-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -o-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -ms-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: linear-gradient(top, #499bea 0%, #207ce5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); }
  .blue-button:hover {
    text-decoration: none; }
  .blue-button:hover {
    color: #dedede; }
  .blue-button:active {
    color: #ccc;
    background: #4f85bb;
    background: -moz-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4f85bb), color-stop(100%, #4f85bb));
    background: -webkit-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    background: -o-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    background: -ms-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    background: linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 ); }

#content {
  min-height: 600px; }

#content-wrapper {
  background: #fefefe;
  margin-bottom: -130px; }

/* -- content -- */
#content-header {
  margin: 0px; }
  #content-header #logo {
    width: 368px;
    height: 180px;
    margin: 50px auto 50px; }

#search {
  margin: 0 auto;
  width: 782px;
  height: 50px;
  display: block;
  border-collapse: collapse; }
  #search form {
    text-align: center; }

#id_category {
  font-size: large;
  text-align: center;
  background: #eeeeee;
  margin: 0;
  padding: 0;
  border: solid #cecece 1px;
  float: left;
  width: 140px;
  height: 50px;
  display: inline-block; }

#id_category > option {
  font-size: large; }

#search-category .category-dropdown-current {
  color: #222;
  font-size: large;
  background: #fefefe;
  border-width: 0px;
  padding-left: 10px;
  width: 109px;
  height: 48px;
  float: left;
  display: block; }
#search-category span.category-dropdown-cursor {
  color: #444;
  padding: 18px 0;
  border-left: solid #ccc 1px;
  width: 19px;
  float: right;
  display: block;
  position: relative;
  cursor: pointer; }

#id_q {
  font-size: large;
  background: white url(image/magnifier.png) 10px 13px no-repeat;
  margin: 0;
  padding: 13px 10px 13px 44px;
  border: solid #cecece 1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -web-kit-border-radius: 5px;
  float: left;
  width: 496px;
  height: 24px;
  display: inline-block; }
  #id_q:focus {
    border: solid #a9db80 1px; }

.search-button {
  color: #efefef;
  font-size: large;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 -0.5px 1px #333333;
  padding: auto;
  border: solid 1px #999;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  background: #cdeb8e;
  background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdeb8e), color-stop(100%, #a5c956));
  background: -webkit-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: -o-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: -ms-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
  color: #eee;
  margin: 0;
  padding: 0;
  float: left;
  width: 88px;
  height: 50px; }
  .search-button:hover {
    text-decoration: none; }
  .search-button:hover {
    color: #dedede; }
  .search-button:active {
    background: #a7dc37;
    background: -moz-linear-gradient(top, #a7dc37 0%, #6e8c2d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a7dc37), color-stop(100%, #6e8c2d));
    background: -webkit-linear-gradient(top, #a7dc37 0%, #6e8c2d 100%);
    background: -o-linear-gradient(top, #a7dc37 0%, #6e8c2d 100%);
    background: -ms-linear-gradient(top, #a7dc37 0%, #6e8c2d 100%);
    background: linear-gradient(top, #a7dc37 0%, #6e8c2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7dc37', endColorstr='#6e8c2d',GradientType=0 ); }

/* -- end of content -- */
#index-title {
  text-align: center; }

#footer {
  height: 130px; }

#footer-content {
  background: #fefefe;
  border-top: solid #e5e5e5 1px;
  border-bottom: solid #e5e5e5 1px;
  bottom: 0px;
  width: 100%;
  height: 80px; }

#footer-menus {
  margin: 0 auto;
  padding: 0 15px;
  width: 1080px; }
  #footer-menus nav#latest-materials {
    width: 1080px; }
    #footer-menus nav#latest-materials ul {
      margin: 16px auto;
      width: 542px; }
      #footer-menus nav#latest-materials ul li {
        padding: 0;
        margin: 0 1px;
        width: 48px;
        height: 48px;
        display: inline-block; }
        #footer-menus nav#latest-materials ul li:hover {
          background: #eaf7cf; }
        #footer-menus nav#latest-materials ul li img {
          margin: 0;
          padding: 0; }

.footer-box {
  float: left;
  width: 33%;
  position: relative; }

.footer-menu {
  width: 80%; }
