@charset "utf-8";

/* -- content -- */
#content-header {
  margin: 0px;
}
#content-header #logo {
  width: 253px;
  height: 81px;
  margin: 30px auto 20px;
}

#content-main {
}

/* search-form */

#search {
  margin: 0 auto;
  width: 782px;
  height: 50px;
  display: block;
  border-collapse: collapse;
}

div#search-category {
  background: #eeeeee;
  margin: 0;
  padding: 0;
  border: solid #cecece 1px;
  float: left;
  width: 140px;
  height: 50px;
  display: inline-block;
}

#search-query {
  font-size: large;
  background: #fff url(image/magnifier.png) 10px 13px no-repeat;
  margin: 0;
  padding: 13px 10px 13px 44px;
  border: solid #cecece 1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -web-kit-border-radius: 5px;
  float: left;
  width: 496px;
  height: 24px;
  display: inline-block;
}

#search-query:focus {
  border: solid rgb(169, 219, 128) 1px;
}

#search-button {
  color: #eee;
  margin: 0;
  padding: 0;
  float: left;
  width: 88px;
  height: 50px;
}

/* -- end of content -- */


/* -- page footer -- */
#page_footer {}
/* -- end of page footer -- */


#index-title {
    text-align: center;
}
#search form {
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 2px;
    width: 100%;
    background: #DDDDDD;
    height: 200px;
}

.footer-menu {
    float: left;
    width: 33%;
}
