@charset "utf-8";
/* -- whole settings -- */
* {
  margin: 0;
  padding: 0;
}
body, textarea { font-family: Verdana, Arial, "メイリオ", "ＭＳ Ｐゴシック", sans-serif; }
input, select { font-family: Verdana, Arial, "ＭＳ Ｐゴシック", sans-serif; }
a {
  color: #222;
}

body {
  color: #333333;
  font-size: 13px;
}

li {
    list-style-type: none;
}

/* -- end of whole settings -- */


/* -- stubs -- */
#breadcrumbs {margin: 0px 10px;}
.notification h1 {
    font-weight: normal;
}
#message_nav li{
    float: left;
    margin: 10px;
}
/* -- end of stubs -- */

#content {
  margin: 70px auto 20px;
  width: 1080px;

