/* Color Settings */
/* Size Settings */
#sidebar dd.author .usericon {
  display: inline-block; }
#sidebar dd.author .username {
  margin: 5px 0 3px;
  display: block; }
#sidebar section.material-action menu {
  margin-left: 10px; }
  #sidebar section.material-action menu li {
    background: 0 3px no-repeat;
    padding: 5px 0px 8px 22px; }
  #sidebar section.material-action menu .edit-material {
    background-image: url(/image/sprite/material-detail/edit-material.png); }
  #sidebar section.material-action menu .delete-material {
    background-image: url(/image/sprite/material-detail/delete-material.png); }
  #sidebar section.material-action menu .add-mylist {
    background-image: url(/image/sprite/material-detail/add-mylist.png); }
  #sidebar section.material-action menu .messageto {
    background-image: url(/image/sprite/material-detail/messageto.png); }
  #sidebar section.material-action menu .report {
    background-image: url(/image/sprite/material-detail/report.png); }

ul.material-subinformation {
  margin: 20px auto 5px; }
  ul.material-subinformation li {
    color: #666;
    font-size: 8px;
    padding: 5px;
    display: inline; }

.download-button {
  vertical-align: middle;
  text-decoration: none;
  margin: 20px auto;
  padding: 0;
  padding-top: 20px;
  width: 200px;
  height: 40px;
  display: block; }

section.material-detail {
  background: #fefefe;
  margin: 10px 0px 10px;
  padding: 20px 10px 20px 10px;
  border: solid 1px #cccccc; }

section.material-comment article {
  background: #fefefe;
  margin: 5px;
  padding: 5px;
  border: solid 1px #cccccc; }
section.material-comment img.comment-avatar {
  float: left;
  margin-right: 10px; }
section.material-comment div.comment-form {
  background: #fefefe;
  border: solid 1px #cccccc;
  margin: 5px;
  padding: 5px; }
  section.material-comment div.comment-form form label {
    display: block; }
  section.material-comment div.comment-form form textarea#id_comment {
    display: block;
    margin: 5px auto;
    width: 700px;
    height: 100px; }
