#sidebar dd.author .usericon {
  display: inline-block;
}

#sidebar dd.author .username {
  margin: 5px 0 3px;
  display: block;
}

#sidebar section.material-action menu {
  margin-left: 10px;
}

#sidebar section.material-action menu li {
  background: 0 3px no-repeat;
  padding: 5px 0px 8px 22px;
}

#sidebar section.material-action menu li.edit {
  background-image: url(image/pencil.png);
}

#sidebar section.material-action menu li.delete {
  background-image: url(image/bomb.png);
}

#sidebar section.material-action menu li.mylist {
  background-image: url(image/heart--plus.png);
}

#sidebar section.material-action menu li.message {
  background-image: url(image/mail--arrow.png);
}

#sidebar section.material-action menu li.report {
  background-image: url(image/exclamation-red.png);
}

.download-button {
  text-decoration: none;
  margin: 20px auto;
  padding: 0;
  padding-top: 20px;
  width: 200px;
  height: 40px;
  display: block;
}
