menu {
  /* ToDo CSS Sprite */ }
  menu .dashboard {
    background-image: url(/image/sprite/menuicon/dashboard.png); }
  menu .activity {
    background-image: url(/image/sprite/menuicon/activity.png); }
  menu .material {
    background-image: url(/image/sprite/menuicon/material.png); }
  menu .mylist {
    background-image: url(/image/sprite/menuicon/mylist.png); }
  menu .message {
    background-image: url(/image/sprite/menuicon/message.png); }
  menu .myprofile {
    background-image: url(/image/sprite/menuicon/myprofile.png); }
  menu .config {
    background-image: url(/image/sprite/menuicon/config.png); }
  menu .account-config {
    background-image: url(/image/sprite/menuicon/account-config.png); }
  menu .profile-config {
    background-image: url(/image/sprite/menuicon/profile-config.png); }
  menu .option-config {
    background-image: url(/image/sprite/menuicon/option-config.png); }
  menu .service-config {
    background-image: url(/image/sprite/menuicon/service-config.png); }
  menu .god {
    background-image: url(/image/sprite/menuicon/god.png); }
  menu .logout {
    background-image: url(/image/sprite/menuicon/logout.png); }
