#content {
  height: 100%;
  overflow: hidden;
}

#sidebar {
  margin-bottom: -32767px;
  padding-bottom: 32767px;
  width: 250px;
  display: block;
  float: left;
}

#main {
  background: #f6f6f6;
  margin-bottom: -32767px;
  padding: 20px;
  padding-bottom: 32767px;
  border: solid 1px #ccc;
  float: right;
  width: 788px;
  display: block;
}

.download-button {
  color: #fefefe;
  text-decoration: none;
  margin: 20px auto;
  padding: 0;
  padding-top: 20px;
  width: 200px;
  height: 40px;
  display: block;
}
