@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Color Settings */
/* Size Settings */
/* -- clearfix -- */
.clear {
  clear: both; }

.clearfix {
  min-height: 0;
  display: block; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden; }

/* -- end of clearfix -- */
/* Common StyleSheets */
.blue-button {
  color: #efefef;
  font-size: large;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 -0.5px 1px #333333;
  padding: auto;
  border: solid 1px #999;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  background: #499bea;
  background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #207ce5));
  background: -webkit-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -o-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -ms-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: linear-gradient(top, #499bea 0%, #207ce5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); }
  .blue-button:hover {
    text-decoration: none; }
  .blue-button:hover {
    color: #dedede; }
  .blue-button:active {
    color: #ccc;
    background: #4f85bb;
    background: -moz-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4f85bb), color-stop(100%, #4f85bb));
    background: -webkit-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    background: -o-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    background: -ms-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    background: linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 ); }

body, textarea {
  font-family: Verdana, Arial, "メイリオ", "ＭＳ Ｐゴシック", sans-serif; }

input, select {
  font-family: Verdana, Arial, "ＭＳ Ｐゴシック", sans-serif; }

* {
  text-height: 150%; }

body {
  color: #333333;
  font-size: 13px;
  background: #fefefe; }

a {
  color: #4183c4;
  text-decoration: none; }

a:hover {
  color: #3388ff;
  text-decoration: underline; }

a:visited {
  text-decoration: dotted; }

h1 {
  font-size: 24px;
  text-shadow: 0 1px 0 #fff;
  -moz-text-shadow: 0 1px 0 #fff;
  -webkit-text-shadow: 0 1px 0 #fff;
  margin: 15px auto 25px; }

h2 {
  font-size: 16px;
  margin: 5px auto;
  margin-left: 5px; }

p {
  text-height: 150%;
  margin: 5px 15px 10px; }

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

li {
  list-style-type: none; }

.avatar, .small, .middle, .large, .huge {
  margin: 2px 4px 0px;
  display: inline-block; }

.small {
  width: 24px;
  height: 24px; }

.middle {
  width: 48px;
  height: 48px; }

.large {
  width: 96px;
  height: 96px; }

.huge {
  width: 288px;
  height: 288px; }

.button {
  color: #efefef;
  font-size: large;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 -0.5px 1px #333333;
  padding: auto;
  border: solid 1px #999;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: inline-block;
  cursor: pointer; }
  .button:hover {
    text-decoration: none; }

.lightbox {
  background: #fefefe;
  border: solid 2px #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 3px 3px 2px #333;
  -webkit-box-shadow: 3px 3px 2px #333;
  width: 80%;
  height: 80%;
  position: relative; }
  .lightbox iframe {
    width: 100%;
    height: 100%; }
  .lightbox div.close {
    background: red;
    top: 12px;
    right: 15px;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    z-index: 9999;
    cursor: pointer; }

* {
  margin: 0; }

html, body {
  width: 100%;
  height: 100%; }

#content-wrapper {
  background: #fefefe;
  width: 100%;
  height: 100%; }

body > #content-wrapper {
  min-height: 100%;
  height: auto !important; }

#content {
  margin: -2px auto;
  padding: 91px 0 70px;
  width: 1080px; }

#footer {
  background: #fefefe;
  margin-top: -50px;
  width: 100%;
  height: 50px;
  position: relative;
  clear: both; }
  #footer #footer-copyright {
    padding: auto auto;
    width: 100%;
    height: 50px;
    display: block;
    bottom: 0;
    position: absolute; }
    #footer #footer-copyright address {
      color: #ababab;
      font-size: small;
      text-align: center;
      padding-top: 18px; }

.blue-button {
  color: #efefef;
  font-size: large;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 -0.5px 1px #333333;
  padding: auto;
  border: solid 1px #999;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  background: #499bea;
  background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #207ce5));
  background: -webkit-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -o-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -ms-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: linear-gradient(top, #499bea 0%, #207ce5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); }
  .blue-button:hover {
    text-decoration: none; }
  .blue-button:hover {
    color: #dedede; }
  .blue-button:active {
    color: #ccc;
    background: #4f85bb;
    background: -moz-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4f85bb), color-stop(100%, #4f85bb));
    background: -webkit-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    background: -o-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    background: -ms-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    background: linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 ); }

/* -- page header -- */
#header {
  font-weight: normal;
  background: #fefefe;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px; }

#header-logo {
  margin: 17px 40px 17px;
  width: 224px;
  height: 36px;
  display: inline-block; }

#breadcrumbs {
  margin: 10px 0px 5px 15px; }

#breadcrumbs a {
  color: #efefef; }

.header-button {
  color: #efefef;
  font-size: large;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 -0.5px 1px #333333;
  padding: auto;
  border: solid 1px #999;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  background: #499bea;
  background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #207ce5));
  background: -webkit-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -o-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: -ms-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background: linear-gradient(top, #499bea 0%, #207ce5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 );
  color: #efefef;
  -webkit-box-shadow: 1px 1px 2px #333;
  -moz-box-shadow: 1px 1px 2px #333;
  margin: 16px 15px 0px 3px;
  padding-top: 5px;
  width: 128px;
  height: 24px; }
  .header-button:hover {
    text-decoration: none; }
  .header-button:hover {
    color: #dedede; }
  .header-button:active {
    color: #ccc;
    background: #4f85bb;
    background: -moz-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4f85bb), color-stop(100%, #4f85bb));
    background: -webkit-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    background: -o-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    background: -ms-linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    background: linear-gradient(top, #4f85bb 0%, #4f85bb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 ); }

.header-button:hover {
  text-decoration: none; }

#header-menu {
  float: right;
  position: relative; }
  #header-menu > li {
    float: left;
    display: block; }
  #header-menu li.header-dropdown-section {
    padding-top: 10px;
    height: 66px;
    box-shadow: 0px 0px 2px #222222;
    -moz-box-shadow: 0px 0px 2px #222222;
    -webkit-box-shadow: 0px 0px 2px #222222; }
    #header-menu li.header-dropdown-section:hover {
      background: #ccc;
      box-shadow: 0px 0px 1px #222222;
      -moz-box-shadow: 0px 0px 1px #222222;
      -webkit-box-shadow: 0px 0px 1px #222222; }
  #header-menu li.header-button-section {
    padding: 6px 10px 0 10px;
    height: 68px; }

menu#dropdown {
  color: #333;
  background: #fefefe;
  border: solid 1px #e5e5e5;
  padding: 5px;
  top: 71px;
  width: 150px;
  height: auto;
  display: block;
  position: absolute;
  box-shadow: 1px 2px 1px #999;
  -moz-box-shadow: 1px 2px 1px #999;
  -webkit-box-shadow: 1px 2px 1px #999;
  z-index: 9999; }
  menu#dropdown a {
    color: #222; }
  menu#dropdown li.dropdown-item {
    background-position: 0 3px;
    background-repeat: no-repeat;
    margin: 3px 0 3px 5px;
    padding: 5px 0 5px 20px; }
  menu#dropdown li.dropdown-header {
    background-position: 0 3px;
    background-repeat: no-repeat;
    font-weight: bold;
    padding: 5px 0 8px 18px;
    border-bottom: dotted 1px #333; }

menu {
  /* ToDo CSS Sprite */ }
  menu .dashboard {
    background-image: url(/image/sprite/menuicon/dashboard.png); }
  menu .activity {
    background-image: url(/image/sprite/menuicon/activity.png); }
  menu .material {
    background-image: url(/image/sprite/menuicon/material.png); }
  menu .mylist {
    background-image: url(/image/sprite/menuicon/mylist.png); }
  menu .message {
    background-image: url(/image/sprite/menuicon/message.png); }
  menu .myprofile {
    background-image: url(/image/sprite/menuicon/myprofile.png); }
  menu .config {
    background-image: url(/image/sprite/menuicon/config.png); }
  menu .account-config {
    background-image: url(/image/sprite/menuicon/account-config.png); }
  menu .profile-config {
    background-image: url(/image/sprite/menuicon/profile-config.png); }
  menu .option-config {
    background-image: url(/image/sprite/menuicon/option-config.png); }
  menu .service-config {
    background-image: url(/image/sprite/menuicon/service-config.png); }
  menu .god {
    background-image: url(/image/sprite/menuicon/god.png); }
  menu .logout {
    background-image: url(/image/sprite/menuicon/logout.png); }

.mtimg {
  background: url(image/mtimg.png) 0 0 no-repeat;
  margin: auto 3px;
  width: 16px;
  height: 16px;
  display: inline-block; }
  .mtimg.mt-application {
    background-position: 0 0;
    width: 16px;
    height: 16px; }
  .mtimg.mt-audio {
    background-position: -21px 0;
    width: 16px;
    height: 16px; }
  .mtimg.mt-cgmodel {
    background-position: -42px 0;
    width: 16px;
    height: 16px; }
  .mtimg.mt-code {
    background-position: -63px 0;
    width: 16px;
    height: 16px; }
  .mtimg.mt-movie {
    background-position: -84px 0;
    width: 16px;
    height: 16px; }
  .mtimg.mt-image {
    background-position: -105px 0;
    width: 16px;
    height: 16px; }
  .mtimg.mt-material {
    background-position: -126px 0;
    width: 16px;
    height: 16px; }
  .mtimg.mt-package {
    background-position: -147px 0;
    width: 16px;
    height: 16px; }
  .mtimg.mt-text {
    background-position: -168px 0;
    width: 16px;
    height: 16px; }

/* Page StyleSheets */
#flatpage-wrapper {
  border: solid 1px #cccccc;
  background: #fefefe;
  width: 900px;
  margin: 10px auto;
  padding: 10px; }
  #flatpage-wrapper div.content {
    margin: 0 10px; }
