{% load reversetag %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kommonz - {% block title %}{% endblock %}</title>
  <script src="jquery-1.6.4.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css">
  <!--[if lte IE 8]>
    <script src="{{ MEDIA_URL }}js/html5.js" type="text/javascript"></script>
  <![endif]-->
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
  <section>
  {% if user.is_authenticated %}
  ようこそ{{ user.username }}さん
  <ul>
    <li>設定</li>
    <li>アカウント管理</li>
    <li><a href="{% reverse 'registration_logout' %}">ログアウト</a></li>
    {% if user.is_staff %}
    <li><a href="/admin">神ページ</a></li>
    {% endif %}
  </ul>
  {% else %}
    <ul>
      <li><a href="{% reverse 'registration_index' %}">ログイン</li>
    </ul>
  {% endif %}
  </section>
  <nav id="breadcrumbs">
    <ul>
      {% block breadcrumbs %}
      {% endblock %}
    </ul>
  </nav>
  </header>
  <section id="content">
    {% block content %}
    {% endblock %}
  </section>
  <footer></footer>
</body>
</html>
