{% load notifications %}
<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Kommonz - {% block title %}{% endblock %}</title>
  {% include "library.html" %}
  {% block head %}
  {% endblock %}
</head>
<body>
  <div id="content-wrapper">
    <header id="header">
      {% if not index %}
      <h1 id="header-logo">
        <a href="{% reverse 'index' %}" alt="index">
          <img src="{{ MEDIA_URL }}image/style/headerlogo.png" width="224px" height="36px">
        </a>
      </h1>
      {% endif %}
      {% if user.is_authenticated %}
      <menu id="header-menu">
        <li class="header-dropdown-section">
          <img src="/{{ user.profile.avatar.middle }}" class="avatar middle">
          <menu id="dropdown" style="display: none;">
            <li class="dropdown-header dashboard">ダッシュボード</li>
            <li class="dropdown-item myprofile"><a href="{% reverse 'auth_user_detail' pk=request.user.id %}">マイプロフィール</a></li>
            <li class="dropdown-item material"><a href="{% reverse 'auth_user_material_list' pk=request.user.id %}">素材の管理</a></li>
            <li class="dropdown-item mylist"><a href="{% reverse 'auth_user_detail' pk=request.user.id %}">マイリスト</a></li>
            <li class="dropdown-item message"><a href="{% reverse 'messages_message_list' %}">メッセージ</a></li>
            <li class="dropdown-header config">設定</li>
            <li class="dropdown-item account-config"><a href="{% reverse 'auth_user_update' %}">アカウント設定</a></li>
            <li class="dropdown-item profile-config"><a href="{% reverse 'auth_userprofile_update' %}">プロフィール設定</a></li>
            <li class="dropdown-item option-config"><a href="{% reverse 'auth_useroption_update' %}">通知設定</a></li>
            <li class="dropdown-item service-config"><a href="{% reverse 'auth_useraccount_update' %}">外部サービス設定</a></li>
            {% if user.is_staff %}
            <li class="dropdown-item god"><a href="{% reverse 'control_main' %}">神ページ</a></li>
            {% endif %}
            <li class="dropdown-item logout"><a href="{% reverse 'registration_logout' %}">ログアウト</a></li>
          </menu>
        </li>
        <li class="header-button-section"><a href="{% reverse 'materials_material_file_create' %}" class="header-button">アップロード</a></li>
      </menu>
      {% else %}
      <menu id="header-menu">
        <li class="header-button-section"><a href="{% reverse 'registration_index' %}" class="header-button">ログイン</a></li>
      </menu>
      {% endif %}
      <!--<nav id="breadcrumbs">-->
      <!--  <ul>-->
      <!--    <a href="/">Kommonz</a>-->
      <!--    {% block breadcrumbs %}-->
      <!--    {% endblock %}-->
      <!--  </ul>-->
      <!--</nav>-->
    </header>
    <section id="content">
    {% block content %}
    {% endblock %}
    </section>
  </div>
  <footer id="footer">
    <section id="footer-content">
    {% block footer %}
    {% endblock %}
    </section>
    <section id="footer-copyright">
      <address>2009-2012 www.kawaz.org</address>
    </section>
  </footer>
</body>
</html>
