{% load notifications %}
<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Kommonz - {% block title %}{% endblock %}</title>
  {% include "library.html" %}
  {% block head %}
  {% endblock %}
</head>
<body>
  <div id="content-wrapper">
    <header id="header">
      {% if user.is_authenticated %}
      <menu id="header-menu">
        <li class="header-dropdown-section">
          <img src="/{{ user.profile.icon.small }}" class="usericon small">
          <menu id="dropdown" style="display: none;">
            <dt class="dashboard">ダッシュボード</dt>
            <dd class="material"><a href="{% reverse 'auth_user_update' %}">素材の管理</a></dd>
            <dd class="mylist"><a href="{% reverse 'auth_user_detail' pk=request.user.id %}">マイリスト</a></dd>
            <dd class="message"><a href="{% reverse 'messages_message_list' %}">メッセージ</a></dd>
            <dd class="myprofile"><a href="{% reverse 'auth_user_detail' pk=request.user.id %}">マイプロフィール</a></dd>
            <dt class="config">設定</dt>
            <dd class="account-config"><a href="{% reverse 'auth_user_update' %}">アカウント設定</a></dd>
            <dd class="profile-config"><a href="{% reverse 'auth_userprofile_update' %}">プロフィール設定</a></dd>
            <dd class="notify-config"><a href="{% reverse 'auth_useroption_update' %}">通知設定</a></dd>
            <dd class="service-config"><a href="{% reverse 'auth_useraccount_update' %}">外部サービス設定</a></dd>
            {% if user.is_staff %}
            <dt class="separator"></dt>
            <dd class="god"><a href="{% reverse 'control_main' %}">神ページ</a></dd>
            {% endif %}
            <dt class="separator"></dt>
            <dd class="logout"><a href="{% reverse 'registration_logout' %}">ログアウト</a></dd>
          </menu>
        </li>
        <li class="header-button-section"><a href="{% reverse 'materials_material_file_create' %}" class="upload-button confirm-button blue-button header-button">アップロード</a></li>
      </menu>
      {% else %}
      <menu id="header-menu">
        <li class="header-button-section"><a href="{% reverse 'registration_index' %}" class="confirm-button blue-button header-button">ログイン</a></li>
      </menu>
      {% endif %}
      <nav id="breadcrumbs">
        <ul>
          {% block breadcrumbs %}
          {% endblock %}
        </ul>
      </nav>
    </header>
    <section id="content" class="clearfix">
    {% block content %}
    {% endblock %}
    </section>
  </div>
  <footer id="footer">
    <section id="footer-content">
    {% block footer %}
    {% endblock %}
    </section>
    <section id="footer-copyright">
      <address>2009-2012 www.kawaz.org</address>
    </section>
  </footer>
</body>
</html>
