{% extends "base.html" %}
{% block title %}デザイン案1{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/index2.css" type="text/css">
  <!-- REQUIRED SCRIPTS AND STYLES -->
    <link rel="stylesheet" type="text/css" href="path-to-jsTree/tree_component.css" />

    <script type="text/javascript" src="{{ MEDIA_URL }}/javascript/jstree/_lib/css.js"></script>   
    <script type="text/javascript" src="{{ MEDIA_URL }}/javascript/jstree/_lib/jquery.js"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}/javascript/jstree/tree_component.js"></script>

    <!-- required for xml data type -->
    <script type="text/javascript" src="{{ MEDIA_URL }}/javascript/jstree/_lib/sarissa.js"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}/javascript/jstree/_lib/sarissa_ieemu_xpath.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/javascript/jstree/_lib/jquery.xslt.js"></script>
    <!-- required for metadata rule definitions -->
    <script type="text/javascript" src="{{ MEDIA_URL }}/javascript/jstree/_lib/jquery.metadata.js"></script>

    <!-- required for cookie functionality -->
    <script type="text/javascript" src="{{ MEDIA_URL }}/javascript/jstree/_lib/jquery.cookie.js"></script> 
{% endblock %}
{% block content_all %}
<section id="index_search">
<h1 id="index_title"><img src="{{ MEDIA_URL }}image/style/kawazhead.jpg"></h1>
<form id="index_search_form" method="get" action="{% reverse 'searches_result' %}" enctype="multipart/form-data">
<p>
    <select name="category_id">
        {% for category in object_list %}
        <option value="{{ category.id }}">{{ category.label }}</option>
        {% endfor %}
    </select>
    <input id="index_search_keyword" type="text" name="search_keyword">
    <input id="index_search_submit" type="submit">
</p>
</form>
<p>
    
</p>
</section>
{% endblock %}


{% block page_footer %}
<div id="index_footer_menu" class="clearfix">
    <section id="index_footer_menu_left">
        <p>新着素材</p>
    </section>
    <section id="index_footer_menu_center">test</section>
    <section id="index_footer_menu_right">
        <p>ユーザ検索</p>
    </section>
</div>
{% endblock %}