{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/index.css" type="text/css">
  <!-- REQUIRED SCRIPTS AND STYLES -->
{% endblock %}
{% block content %}
<section id="content" class="ui-corner-all">
  <header id="content-header" class="clearfix">
      <section id="logo"><a href="{% reverse 'index' %}"><img src="{{ MEDIA_URL }}image/style/kawazhead.jpg"></a></section>
  </header>
    <section id="content-left">
      {% block left %}
      {% endblock %}
    </section>
    <section id="content-main">
      <section id="search">
        <form method="get" action="{% reverse 'searches_result' %}">
            <div id="search-category">
              <select id="category" style="display: none;" name="category_id">
                {% for category in object_list %}
                <option value="{{ category.id }}">{{ category.label }}</option>
                {% endfor %}
              </select>
            </div>
            <div id="search-query-wrapper">
              <div class="search-icon"></div>
              <input id="search-query" type="text" name="search-query">
            </div>
            <input id="search-button" type="submit">
        </form>
      </section>
    </section><!-- end of content_main-->
  </section><!-- end of content-->
{% endblock %}


{% block footer %}
<div id="footer-menus" class="clearfix">
    <section id="footer-left" class="footer-menu">
        <p>新着素材</p>
    </section>
    <section id="footer-center" class="footer-menu">test</section>
    <section id="footer-right" class="footer-menu">
        <p>ユーザ検索</p>
    </section>
</div>
{% endblock %}
