{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/index.css" type="text/css">
  <!-- REQUIRED SCRIPTS AND STYLES -->
{% endblock %}
{% block content %}
  <header id="content-header">
      <section id="logo"><a href="{% reverse 'index' %}"><img src="{{ MEDIA_URL }}image/style/logo.png"></a></section>
  </header>
    <section id="content-left">
      {% block left %}
      {% endblock %}
    </section>
    <section id="content-main">
      <section id="search">
        <form method="get" action="{% reverse 'searches_result' %}">
          {{ form.category }}
          {{ form.q }}
          <input id="search-button" class="confirm-button green-button" value="検索" type="submit">
        </form>
      </section>
  </section><!-- end of content-->
{% endblock %}

{% block footer %}
<div id="footer-menus">
    <nav id="latest-materials" class="footer-box">
      <ul>
      {% for material in latest_materials %}
      <li class="material">
        <a href="{{ material.get_absolute_url }}"><img src="{{ material.thumbnail.middle }}" class="middle"></a>
      </li>
      {% endfor %}
      </ul>
    </nav>
</div>
{% endblock %}
