{% extends "base.html" %}
{% block title %}デザイン案1{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/index2.css" type="text/css">
{% endblock %}
{% block content_all %}
<section id="index_search">
<h1 id="index_title"><img src="image/style/kawazhead.jpg"></h1>
<form id="index_search_form">
<p>
    <select>
        <option>項目１</option>
        <option>項目１</option>
        <option>項目１</option>
        <option>項目１</option>
        <option>項目１</option>
    </select>
    <input id="index_search_keyword" type="text">
    <input id="index_search_submit" type="submit">
</p>
</form>
</section>
{% endblock %}


{% block page_footer %}
<div id="index_footer_menu">
    <section id=""></section>
    <section id=""></section>
    <section id=""></section>
</div>
{% endblock %}