/* Color Settings */

$text: #333;
$link: #4183c4;
$link-hover: #3388ff;
$border: #ccc;
$background: #fefefe;
$header-background: #f1f1f1;
$green: #5B9C94;
$lightgreen: #7EA1C3;
$maincolumn-background: #f6f6f6;


/* Size Settings */

$content-width: 1080px;
$header-height: 70px;
$footer-height: 50px;
$index-footer-height: 250px;
