/* Color Settings */

$text: #333;
$text-white: #ddd;
$link: #4183c4;
$link-hover: #3388ff;
$border: #ccc;
$background: #fefefe;
$header-background: #f1f1f1;
$green: #CDEB8E;
$lightgreen: #A5C956;
$maincolumn-background: #f6f6f6;


/* Size Settings */

$content-width: 1080px;
$header-height: 70px;
$footer-height: 50px;
$index-footer-height: 250px;
$icon-small: 24px;
$icon-middle: 48px;
$icon-large: 144px;
$icon-huge: 288px;
