@import "defines";

section.user-info {
  background-color: $background;
  margin: 0 auto 20px;
  padding: 30px 30px 10px;
  width: 100px;
  display: block;
  position: relative;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  div.user-pin {
    background: url(image/pin.png) 0 0 no-repeat;
    width: 16px;
    height: 13px;
    top: 5px;
    left: 75px;
    display: block;
    position: absolute;
  }
  img {
    margin: 0 auto;
    display: block;
  }
  span {
    color: #666;
    font-family: "Marker Felt";
    font-size: large;
    text-align: center;
    margin: 5px auto;
    padding: 5px 0;
    display: block;
  }
}

menu#dashboard-action {
  margin: 5px 0px 5px 5px;
  border-bottom: solid 1px #ccc;
  hr {
    margin: 0;
  }
  h1 {
    font-size: 13px;
    background-position: 0px 5px;
    background-repeat: no-repeat;
    margin: 5px 0 5px 0;
    padding: 5px 0px 5px 20px;
  }
  h1 a, li.menu-list a {
    color: #222;
  }
  li {
    background-position: 5px 8px;
    background-repeat: no-repeat;
    border-top: solid 1px #ccc;
    border-collapse: collapse;
    .caption {
      color: #999;
      font-size: small;
    }
  }
  menu.submenu {
    li {
      background-position: 20px 8px;
      padding: 10px 0 10px 20px;
    }
    li.menu-list {
      padding-left: 40px;
    }
  }
  .active {
    background-color: #f6f6f6;
    font-weight: bold;
  }
}
