@import "defines";
@import "buttons";

#content {
  min-height: 600px;
}

#content-wrapper {
  background: #fefefe;
  margin-bottom: -1 * $index-footer-height;
}

/* -- content -- */
#content-header {
  margin: 0px;
  #logo {
    width: 368px;
    height: 180px;
    margin: 50px auto 50px;
  }
}

#search {
  margin: 0 auto;
  width: 782px;
  height: 50px;
  display: block;
  border-collapse: collapse;
  form {
    text-align: center;
  }
}

#id_category {
  font-size: large;
  text-align: center;
  background: #eeeeee;
  margin: 0;
  padding: 0;
  border: solid #cecece 1px;
  float: left;
  width: 140px;
  height: 50px;
  display: inline-block;
}

#id_category > option {
  font-size: large;
}

#search-category {
  .category-dropdown-current {
    color: #222;
    font-size: large;
    background: #fefefe;
    border-width: 0px;
    padding-left: 10px;
    width: 109px;
    height: 48px;
    float: left;
    display: block;
  }
  span.category-dropdown-cursor {
    color: #444;
    padding: 18px 0;
    border-left: solid #ccc 1px;
    width: 19px;
    float: right;
    display: block;
    position: relative;
    cursor: pointer;
  }
}

#id_q {
  font-size: large;
  background: #fff url(image/magnifier.png) 10px 13px no-repeat;
  margin: 0;
  padding: 13px 10px 13px 44px;
  border: solid #cecece 1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -web-kit-border-radius: 5px;
  float: left;
  width: 496px;
  height: 24px;
  display: inline-block;
  &:focus {
    border: solid rgb(169, 219, 128) 1px;
  }
}

.search-button {
  @include green-button;
  color: #eee;
  margin: 0;
  padding: 0;
  float: left;
  width: 88px;
  height: 50px;
}

/* -- end of content -- */


#index-title {
    text-align: center;
}
#footer {
  height: $index-footer-height;
}

#footer-content {
  background: $background;
  border-top: solid #e5e5e5 1px;
  border-bottom: solid #e5e5e5 1px;
  bottom: 0px;
  width: 100%;
  height: $index-footer-height - $footer-height;
}

#footer-menus {
  margin: 0 auto;
  padding: 0 15px;
  width: $content-width;
  nav#latest-materials {
    width: $content-width;
    ul {
      margin: 16px auto;
      width: 550px;
      li {
        padding: 0;
        margin: 0 1px;
        width: $icon-middle;
        height: $icon-middle;
        display: inline-block;
        &:hover {
          background: $lightgreen;
        }
        img {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

.footer-box {
  float: left;
  width: 33%;
  position: relative;
}

.footer-menu {
  width: 80%;
}

