@import "defines";
@import "functions";

ul.search-results {
  margin: 16px;
  width: 1058px;
}

li.search-material {
  margin: 5px 0 5px 13px;
  width: 196px;
  height: 196px;
  display: block;
  float: left;
  position: relative;
  box-shadow: 1px 1px 3px #666;
  -moz-box-shadow: 1px 1px 3px #666;
  -webkit-box-shadow: 1px 1px 3px #666;
  header {
    width: 100%;
    height: 28px;
    right: 0px;
    display: block;
    menu {
      li {
        color: $link;
        text-align: center;
        padding-top: 7px;
        border-left: solid 1px $border;
        border-bottom: solid 1px $border;
        width: 40px;
        height: 22px;
        right: 0;
        position: absolute;
        display: inline-block;
        cursor: pointer;
        @include crossbrowser(box-shadow, 0.5px 0.5px 2px #222);
        &:hover {
          color: $text-white;
          background: $link-hover;
          border-color: $link-hover;
        }
      }
    }
  }
  section {
    text-align: center;
    figure {
      width: 144px;
      height: 144px;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }
  footer {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 196px;
    height: 24px;
    bottom: 0;
    position: absolute;
    .mtimg {
      margin: 4px 2px 0;
    }
    a {
      cite {
        vertical-align: 4px;
      }
    }
  }
}
