.login {
  width: 1080px;
  margin: 0px auto;
  overflow: hidden;
  h1 {
    margin: 50px 1px 20px;
  }
  h2 {
    margin: 3px 5px 15px;
  }
  p {
    margin: 5px 15px 5px;
    line-height: 150%;
  }
  ul.services {
    margin: 5px 15px 5px;
    .a {
      display: inline-block;
    }
  }
  .services {
    li {
      width: 200px;
      height: 60px;
      margin: 10px 3px;
      display: inline-block;
      position: relative;
    }
    a {
      text-align: center;
      border: solid 1px #ccc;
      margin: 0;
      padding-top: 15px;
      width: 100%;
      height: 43px;
      display: block;
    }
    a:hover {
      text-decoration: none;
      border-color: #38F;
    }
  }
}
.serviceicon {
  margin: 3px 5px 0;
}

.serviceicon {
  background-image: url(image/serviceicon.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
}
$i: 0;
@each $service in dropbox, github, google, hatena, twitter {
  .#{$service} .serviceicon {
    background-position: 0 #{$i * -21}px;
  }
  $i: $i + 1;
}

