{% extends "auth/config_base.html" %}

{% block title %}{{ object.user.username }}のアカウント設定{% endblock %}
{% block breadcrumbs %}Kommonz > {{ object.user.username }}のアカウント設定{% endblock %}

{% block contentmain %}
<h1>アカウント設定</h1>
<ul>
  <li>
    <a href="{% reverse 'socialauth_associate_begin' 'twitter' %}">Twitterと関連付ける</a>
  </li>
  <li>
    <a href="{% reverse 'socialauth_associate_begin' 'google-oauth2' %}">Googleと関連付ける</a>
  </li>
  <li>
   <a href="{% reverse 'socialauth_associate_begin' 'hatena' %}">はてなと関連付ける</a>
  </li>
  <li>
  <a href="{% reverse 'socialauth_associate_begin' 'dropbox' %}">Dropboxと関連付ける</a>
  </li>
</ul>
{% endblock %}