{% csrf_token %}
<label for="id_name">名前:</label>
<input id="id_name" type="text" name="name" maxlength="50">
<label for="id_email">メールアドレス:</label>
<input type="text" name="email" id="id_email">
<label for="id_url">URL:</label>
<input type="text" name="url" id="id_url" />
<label for="id_comment">コメント:</label>
<textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
<input type="text" name="honeypot" id="id_honeypot">
<input type="hidden" name="content_type" value="materials.image" id="id_content_type">
<input type="hidden" name="object_pk" value="1" id="id_object_pk">
<input type="hidden" name="timestamp" value="1324035049" id="id_timestamp">
        <input type="submit" name="submit" value="Post">
        <input type="submit" name="preview" value="Preview">